.content {
  min-width: 223px;

  //   item override
  .menu-item {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    // justify-content: center;
    margin-left: 0;
    width: 100%;
    padding: 19px 16px;
    border-radius: 0;
  }
}

// popper
.menu-list {
  padding-top: 0;
  min-height: unset;
  max-height: unset;
}

// item
.menu-item {
  line-height: 2.4rem;

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

// header
.header {
  --header-height: 50px;
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.back-btn {
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
