.wrapper {
  height: var(--default-layout-header-height);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  display: flex;
  justify-content: center;

  .upload-btn {
    border-color: rgba($color: #161823, $alpha: 0.12);
    border-radius: 2px;
    padding: 6px 16px;
    font-weight: 600;
  }
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px 0 16px;
}

.logo {
  min-width: 300px;
  display: flex;
  align-items: center;
}

// user
.actions {
  display: flex;
  align-items: center;
}

.action-btn {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.action-link {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 24px;
  cursor: pointer;
}

.more-menu-icon {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}

.inbox {
  margin-left: 16px;
  position: relative;
}

.sup-badge {
  background-color: var(--primary);
  min-width: 20px;
  padding: 0 6px;
  line-height: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 7px;
  right: 71px;
}
