.wrapper {
  background-color: var(--white);
}

.fixed {
  position: fixed;
}

.nav-container {
  padding: 20px 0 26px 8px;
  width: 100%;
  overflow-y: auto;
}

// custom scrollbar of react-custom-scrollbars-2
.custom-scrollbar > div:last-child {
  opacity: 0;
  transition: all 0.3s linear;
}

.custom-scrollbar:hover > div:last-child {
  opacity: 1;
}
